<div class="row" style="padding: 10% 30%; text-align: center">
    <h3>Quên mật khẩu</h3>
    <form action="/forget" method="POST" class="col-sm-12 offset-md-1" style="text-align: left">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Nhập email đã đăng ký"
             required>
            <small id="emailHelp" class="form-text text-muted" style="display: none">We'll never share your email with anyone else.</small>
        </div>
        <button style="margin-top: 10px" type="submit" class="btn btn-primary form-control"  >Lấy lại mật khẩu</button>
    </form>
</div>