<div class="row" style="padding:10% 30% 0% 30%; text-align: center">
    <h3>Đăng nhập</h3>
    <form action="/login" method="POST" class="col-sm-12 offset-md-1" style="text-align: left">
        <div class="form-group">
            <label for="username">Tên đăng nhập</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp"
             required>
            <small id="emailHelp" class="form-text text-muted" >{{notify.username}}</small>
        </div>
        <div class="form-group">
            <label for="password">Mật khẩu</label>
            <input type="password" class="form-control" id="password" name="password" required>
            <small id="emailHelp" class="form-text text-muted">{{notify.pass}}</small>
        </div>
        <div>
            <a class="pull-left" href="/signup">Đăng ký</a>
            <a href="/forget" class="pull-right">Quên mật khẩu</a>
        </div>
        <button style="margin-top: 10px" type="submit" class="btn btn-primary form-control"  >Đăng nhập</button>
    </form>
</div>