<div class="row" style="padding: 10% 30%; text-align: center">
    <h3>Đăng ký</h3>
    <form action="/signup" method="POST" class="col-sm-12 offset-md-1" style="text-align: left">
        <div class="form-group">
            <label for="email">Tên đăng nhập</label>
            <input type="text" class="form-control" id="email" aria-describedby="emailHelp" required>
            <small id="emailHelp" class="form-text text-muted" style="display: none">We'll never share your email with
                anyone else.</small>
        </div>
        <div class="form-group">
            <label for="password">Mật khẩu</label>
            <input type="password" class="form-control" id="password" required>
            <small id="emailHelp" class="form-text text-muted" style="display: none">We'll never share your email with
                anyone else.</small>
        </div>
        <div class="form-group">
            <label for="confirm-password">Nhập lại mật khẩu</label>
            <input type="password" class="form-control" id="confirm-password" required>
            <small id="emailHelp" class="form-text text-muted" style="display: none">We'll never share your email with
                anyone else.</small>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
            <small id="emailHelp" class="form-text text-muted" style="display: none">We'll never share your email with
                anyone else.</small>
        </div>
        <div class="form-group">
            <label for="username">Họ và tên</label>
            <input type="text" class="form-control" id="username" required>
            <small id="emailHelp" class="form-text text-muted" style="display: none">We'll never share your email with
                anyone else.</small>
        </div>
        <div class="form-group">
            <label for="username">Địa chỉ</label>
            <input type="text" class="form-control" id="username">
            <small id="emailHelp" class="form-text text-muted" style="display: none">We'll never share your email with
                anyone else.</small>
        </div>
        <div class="form-group">
            <label for="phone">Số điện thoại</label>
            <input type="tel" class="form-control" id="phone">
            <small id="emailHelp" class="form-text text-muted" style="display: none">We'll never share your email with
                anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary form-control">Đăng ký</button>
    </form>
</div>