<div class="container">
    <div class="col-sm-12">
        <h2 class="text-uppercase">Thêm danh mục mới</h2>
        <form action="" method="POST">
            <div class="form-group">
                <label for="nameCategory">Tên danh mục</label>
                <input
                    type="text"
                    class="form-control"
                    id="nameCategory"
                    placeholder="Nhập tên danh mục">
            </div>
            <button type="submit" class="btn btn-success form-control">Thêm</button>
        </form>
    </div>
</div>