<div class="container">
  <div class="col-sm-12">
    <h2 class="text-uppercase"><span class="glyphicon glyphicon-list-alt"></span> Danh sách danh mục</h2>
    <div>
      <a href="/categories/add" class="btn btn-success"><span class="fa fa-plus-circle"></span> Add</a>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr class="success">
            <th>Mã danh mục</th>
            <th>Tên danh mục</th>
            <th>Hành động</th>
          </tr>
        </thead>
        <tbody id="categories">
          {{!-- list categories --}}
        </tbody>
      </table>
      <div style="padding: 0 40%">
        <ul class="reviews-pagination" id="pagination-categories">
        </ul>
      </div>
    </div>
  </div>
</div>
</div>