<div class="container">
  <div class="col-sm-12">
    <h2 class="text-uppercase"><span class="glyphicon glyphicon-list-alt"></span> Danh sách sản phẩm</h2>
    <div>
      <a href="/products/add" class="btn btn-success"><span class="fa fa-plus-circle"></span> Add</a>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr class="success">
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Loại sản phẩm</th>
            <th>Nhà sản xuất</th>
            <th>Giá</th>
            <th>Hành động</th>
          </tr>
        </thead>
        <tbody id="products">
          {{!-- list products --}}
        </tbody>
      </table>
      <ul class="reviews-pagination" id="pagination-products">
			</ul>
    </div>
  </div>
</div>
</div>