<div class="container">
    <div class="col-sm-12">
        <h2 class="text-uppercase">Thêm nhà sản xuất mới</h2>
        <form action="/brands/add" method="POST">
            <div class="form-group">
                <label for="nameCategory">Tên nhà sản xuất</label>
                {{#if mess}}
                <span class="pull-right">{{mess}}. Mời nhập tên khác</span>
                {{/if}}
                <input
                    type="text"
                    class="form-control"
                    name="newcategory"
                    placeholder="Nhập tên nhà sản xuất">
            </div>
            <button type="submit" class="btn btn-success form-control">Thêm</button>
        </form>
    </div>
</div>